@media (max-width: 1265px) {
  .reviews-slider .slick-list{
    margin: 0;
  }

  .reviews-slider .slick-slide{
    margin: 0;
  }

  .reviews-box {
    box-shadow: none;
  }
  .partners{
    display: none;
  }
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__info{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1160px) {
  .price__cards{
    flex-wrap: wrap;
  }
  .price-card{
    max-width: 48%;
    margin-bottom: 50px;
  }
  .price-card__price{
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1110px) {
  .reviews-slider{
    margin-top: 60px;
  }
  .reviews-box{
    max-width: 520px;
    margin: 0 auto;
  }
}


@media (max-width: 1120px) {
  .top__info{
    max-width: 425px;
  }
}

@media (max-width: 992px) {
  .menu__list{
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #2f3f54;
    z-index: 5;
  }
  .menu__list li{
    margin-left: 0;
  }
  .menu__list a{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #2f3f54;
    background-color: #fff;
  }
  .button__menu{
    display: block;
  }
}

@media (max-width: 980px) {
  .top__info{
    max-width: 325px;
  }
}

@media (max-width: 890px) {
  .top__info{
    max-width: 300px;
  }
  .image__inner img{
    width: 300px;
  }
  .image__circle{
    width: 160px;
    height: 160px;
    top: -30px;
    right: -30px;
  }
  .top{
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .top__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 794px) {
  .price-card{
    max-width: 100%;
  }
  .price__inner{
    padding: 50px 0 40px;
  }
}


@media (max-width: 740px) {
  .top__inner{
    padding-right: 40px;
  }
  .top__info{
    width: 100%;
    margin-right: 0;
    margin-bottom: 75px;
  }
  .reviews{
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .footer-form{
    width: 100%;
    margin-top: 30px;
  }
  .footer__inner{
    justify-content: flex-start;
  }
}

@media (max-width: 580px) {
  .reviews-box{
    display: block;
  }
  .review-box__img{
    width: 100%;
    min-height: 200px;
  }
  .reviews-box__content{
    width: 100%;
    padding: 20px;
    min-height: 260px;
  }
  .reviews-slider .slick-slide{
    padding-bottom: 30px;
  }
}

@media (max-width: 399px) {
  .top__inner{
    padding-right: 0px;
  }
  .info__title{
    font-size: 40px;
    line-height: 42px;
  }
  .image__circle{
    top: -5px;
    right: 10px;
  }
  .title{
    font-size: 36px;
    line-height: 40px;
  }
  .price-card{
    padding: 0 20px 49px;
    margin-bottom: 30px;
  }
  .footer-list{
    margin-bottom: 30px;
    width: 100%;
  }
  .footer-form{
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .menu__list{
    display: flex !important;
  }
}

