*{
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.header {
  border-top: 1px solid #267ae9;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}

.button__menu{
  width: 40px;
  display: none;
}

.button__menu div{
  height: 5px;
  background-color: #2f3f54;
  margin-bottom: 5px;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__list li{
  margin: 0 0 0 30px;
}

.menu__list a{
  color: #2f3f54;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.top {
  background-color: #267ae9;
  padding-top: 155px;
  padding-bottom: 183px;
}

.top__inner {
  display: flex;
  flex-direction: row;
}

.info {
  max-width: 555px;
  color: #ffffff;
  margin-right: 40px;
}

.info__subtitle{
  line-height: 32px;
}

.info__title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 52px;
  text-transform: uppercase;
}

.info__description {
  font-size: 19px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 26px;
}

.info__description span{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-top: -10px;
}

.info__list {
  list-style: none;
  margin-bottom: 62px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.info__list li{
  position: relative;
  padding-left: 24px;
}

.info__list li::before{
  content: '';
  position: absolute;
  background: url("../img/list-icon.png") left no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
}

.info__list li img{
  margin-top: 8px;
}
.info__button {
  border-radius: 24px;
  border: 3px solid #ffffff;
  background-color: #267ae9;
  padding: 13px 44px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.info__button-description {
  margin-top: 20px;
}

.image__inner {
  position: relative;
  margin-top: 35px;
}

.image__circle {
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #212121;
  top: -41px;
  right: -102px;
}

.image__title {
  width: 115px;
  text-align: left;
  margin-bottom: 13px;
}

.image__price {
  font-weight: 700;
  font-size: 54px;
  padding-top: 9px;
  margin-bottom: 5px;
}

.image__period {
  width: 130px;
  text-align: right;
}

.price {
}

.price__inner{
  padding: 150px 15px 180px;
}

.price__title {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin: 0 0 35px;
}

.price__title span{
  color: #2575e7;
}

.price__subtitle {
  text-align: center;
  max-width: 590px;
  margin: 0 auto 120px;
  letter-spacing: 0.005em;
}
.price__subtitle a{
  color: #e74c3c;
}
.price__subtitle span{
  color: #42d6c1;
}
.price__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.price-card {
  max-width: 360px;
  box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
  border-radius: 2px 2px 0 0;
  padding: 0 40px 49px 49px;
  position: relative;
  overflow: hidden;
}

.price-card__price {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 20.33px;
  font-size: 23px;
  background-color: #267ae9;
  width: 265px;
  height: 465px;
  border-radius: 136px;
  margin: 0 auto 21px;
  color: #ffffff;
  position: absolute;
  top: -370px;
  justify-content: center;
  align-items: end;
  padding-bottom: 40px;
  display: flex;
}

.price-card__img {
  background: url("../img/card-background.png") center no-repeat;
  width: 190px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 125px auto 38px;
}

.price-card__title {
  margin: 0 0 10px;
  font-family: Roboto, sans-serif;
  font-size: 31px;
  line-height: 50.81px;
  font-weight: 700;
  color: #267ae9;
}

.price-card__description {
  color: #4a6385;
  margin: 0 0 45px;
}

.price-card__list {
  margin: 0 0 77px;
}

.price-card__list li{
  padding-left: 36px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  letter-spacing: 0.82px;
  list-style: none;
}

.price-card__list li::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/check-icon.svg");
  background-size: cover;
  transform: translateY(-50%);
}
.price-card__link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 2px 2px;
  background-color: #267ae9;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.33px;
  text-align: center;
  padding: 20px 10px;
}

.footer {
  background-color: #2f3f54;
  padding: 80px 0 144px;
  color: #718db2;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info {
 width: 263px;
}

.footer__icon {
  margin-bottom: 32px;
  display: block;
}

.footer__description {
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-list {
  width: 165px;
}

.footer-list__title,
.footer-form__title{
  color: #d0e4ff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-bottom: 32px;
}

.footer-list__list {
  list-style: none;
}

.footer-list__list a{
  color: #718db2;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 31px;
}
.footer-form {
  width: 263px;
}

.footer-form__form input,
.footer-form__form textarea{
  padding: 0 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  color: #718db2;
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-weight: 400;
  height: 38px;
  display: block;
  width: 100%;
}

.footer-form__form input::placeholder,
.footer-form__form textarea::placeholder{
  color: #718db2;
  font-size: 11px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.footer-form__form textarea{
  padding: 12px;
  height: 85px;
  resize: none;
  margin-bottom: 11px;
}

.footer-form__form button{
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #2575e7;
  padding: 10px;
}

.reviews {
  padding: 113px 0 105px;
  background-color: #fafafa;
}

.reviews__title {
  color: #2f3f54;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.reviews__title span{
  color: #267ae9;
}

.reviews-slider {
  margin-top: 160px;
}

.reviews-slider .slick-list{
  margin: 0 -50px;
}

.reviews-slider .slick-slide{
  margin: 0 50px;
  padding-bottom: 70px;
}

.reviews-slider .slick-dots{
  list-style: none;
  display: flex;
  justify-content: center;
}

.reviews-slider .slick-dots li{
  margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button{
  background-color: #fff;
  border: 2px solid #2575e7;
}

.reviews-slider .slick-dots button{
  font-size: 0;
  width: 9px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #2575e7;
  outline: none;
}

/*.reviews-slider__item {*/
/*  !*box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);*!*/
/*}*/

.reviews-box {
  display: flex;
  flex-direction: row;
  box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.review-box__img{
  display: flex;
  flex-direction: row;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  width: 190px;
  background-color: #267ae9;
}

.reviews-box__content{
  width: 330px;
  color: #2f3f54;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 40px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-box__text {
  margin-bottom: 30px;
  color: #4a6385;
}

.reviews-box__author span{
  color: #267ae9;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.partners__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 98px 0 80px;
}

